.title {
  cursor: pointer;
}
.title:hover {
  text-decoration: underline;
}

.equation-element {
  margin-left: 10px !important;
}

.history-div {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

  .history-div:hover {
    border-color: black;
    background-color: lightgray;
  }


.calc-in-progress {
  background-color: lightgray;
}
.calc-success {
  background-color: lightcyan;
}

.calc-danger {
    background-color:bisque;
}

.small-note {
  font-size: 50%;
  text-decoration: none;
}

.small-note:hover {
  text-decoration: underline;
}
