
<div class="container">
  <h1>Server Calculator <a href="mailto:tgrtalex@gmail.com" class="small-note">by Tigran</a></h1>
  <h3 class="title" (click)="toggleFaking()" title="Click to toggle service faking">{{ title}}</h3>
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group">
        <input type="search"
               list="predefinedList"
               class="form-control"
               placeholder="Enter your expression to calculate here"
               (keyup.enter)="calculate()"
               [(ngModel)]="expression"
               #expressionInput>
        <datalist id="predefinedList">
          <option *ngFor="let el of predefinedList" >{{el}}</option>
        </datalist>
        <span class="input-group-text btn btn-primary" (click)="calculate()">Calculate</span>
        <span class="input-group-text btn btn-secondary" (click)="clear()">Clear</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12"
         *ngFor="let el of history">
      <div (click)="readFrom(el)" class="history-div {{el.cssClass}}" title="Click to reuse">
        <label class="equation-element">{{el.expression}}</label>
        <span class="equation-element bg-primary text-white">=</span>
        <div class="equation-element spinner-border spinner-border-sm" *ngIf="el.callInProgress"></div>
        <span class="equation-element" [title]="el.title" *ngIf="!el.callInProgress">
          {{el.calculationResult ?? el.title}}
        </span>
      </div>
    </div>
  </div>

</div>

<!--<h3>{{expression}}</h3>-->
