
<div class="container">
  <h1>Server Calculator <a href="mailto:tgralex@gmail.com" class="small-note">by Tigran</a></h1>
  <h3 class="title" (click)="toggleFaking()" title="Click to toggle service faking">{{ title}}</h3>
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group">
        <span class="input-group-text btn btn-secondary input-checkbox" title="Check to clear input after each calculation">
          <input class="input-group-text btn-defaault" type="checkbox" [(ngModel)]="cleareExporessionOnCalculate">
        </span>
        <input type="search"
               list="predefinedList"
               class="form-control"
               [placeholder]="inputPlaceholder"
               [title]="inputPlaceholder"
               (keyup.enter)="calculate()"
               [(ngModel)]="expression"
               #expressionInput>
        <datalist id="predefinedList">
          <option *ngFor="let el of predefinedList">{{el}}</option>
        </datalist>
        <span class="input-group-text btn btn-primary"
              title="Click to calculate the expression. Calculation result will appear below."
              (click)="calculate()">Calculate</span>
        <span class="input-group-text btn btn-secondary"
              title="Clears all existing calculation results."
              (click)="clear()">Clear History</span>
        <span class="input-group-text btn btn-warning"
              *ngIf="expression && expression.length > 0 && expression.length <= 100"
              title="Click to repeat the expression you entered 1000 times, joining each repetition with a plus sign. &#10;Note that the length of the expression must be greater than 0 and less than or equal to 100"
              (click)="expandExpressionValue()"
              (mouseenter)="isHoverOver = true"
              (mouseleave)="isHoverOver = false">
          {{ isHoverOver ? "I'm feeling adventurous!" : "x 1000"}}
        </span>
      </div>
      <label>Chars count: {{expression?.length ?? 0 | number:'1.0':'en-US'}}</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12"
         *ngFor="let el of history">
      <div (click)="readFrom(el)" class="history-div {{el.cssClass}}" title="Click to reuse">
        <div class="equation-element equation-expression" [title]="el.expression">{{el.expression}}</div>
        <span class="equation-element bg-primary text-white">=</span>
        <div class="equation-element spinner-border spinner-border-sm" *ngIf="el.callInProgress"></div>
        <span class="equation-element" [title]="el.title" *ngIf="!el.callInProgress">
          {{el.calculationResult ?? el.title}}
        </span>
      </div>
    </div>
  </div>

</div>

<!--<h3>{{isClearingInput}}</h3>-->
